node_modules/
bower_components/
jspm_packages/
*.log
.DS_Store
Thumbs.db
*.sublime-workspace
*.vscode/
.env
config.php
/vendor/
*.cache
*.tmp
*.swp
*.bak
*.old
uploads/
storage/
*.sql
*.sql.gz
dist/
build/
composer.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.sftp-config.json
ftpconfig
